#### Load the Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r'anime.csv')

In [3]:
df.head()

   Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05

#### Make a new column for episodes count

In [4]:
def extract_episodes(txt):
      check = False
      data = ""
      for i in txt:
            if i == ")":
                  check = False
                  return data
            if check == True:
                  data += i
            if i == '(':
                  check = True

In [5]:
df['Episodes'] = df['Title'].apply(extract_episodes)

In [6]:
# rermove the eps from the Episodes 
df['Episodes'] = df['Episodes'].str.replace('eps', '')

In [7]:
# Change the datatype of the Episodes column
df['Episodes'] = df['Episodes'].astype(int)

In [8]:
type(df.loc[0]['Episodes'])

numpy.int32

In [9]:
df.head()

   Rank                                              Title  Score  Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10        64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07        24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06        13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06        51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05        10

#### Make a new column for time stamp

In [10]:
df.loc[0]['Title']

'Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr 2009 - Jul 20103,218,472 membersManga StoreVolume 1€4.58Preview'

In [11]:
def extraction_time(txt):
      check = True
      data = ""
      for i in range(len(txt)):
            if txt[i] == ")":
                  for j in range(i+1, i+20):
                        data += txt[j]
                  return data

In [12]:
df['Title'].apply(extraction_time)
df.head()

   Rank                                              Title  Score  Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10        64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07        24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06        13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06        51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05        10

In [13]:
df['Time'] = df['Title'].apply(extraction_time)

In [14]:
df.head()

,Rank,Title,Score,Episodes,Time
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019

In [15]:
from dateutil.relativedelta import relativedelta
from datetime import datetime

def calculate_total_months(period):
    try:
        start_str, end_str = period.split(' - ')
        start_date = datetime.strptime(start_str, '%b %Y')
        end_date = datetime.strptime(end_str, '%b %Y')
        r = relativedelta(end_date, start_date)
        return r.years * 12 + r.months + 1  # +1 to include the starting month
    except:
        return None

df['Months'] = df['Time'].apply(calculate_total_months)

In [16]:
df.head()

,Rank,Title,Score,Episodes,Time,Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,16
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,6
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,3
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,12
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,4

#### Which anime has the highest score

In [22]:
df[df['Score'] == df['Score'].max()]['Title']

0    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
Name: Title, dtype: object

#### Give me top 5 highest scoring anime

In [24]:
df['Title'].unique

<bound method Series.unique of 0     Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
1     Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
2     Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
3     Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
4     Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
5     Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
6     Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
7     Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
8     Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
9     Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
10    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
11    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
12    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
13    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
14    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
15    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
16    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
17    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
18    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
19    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
20    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
21    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
22    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
23    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
24    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
25    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
26    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
27    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
28    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
29    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
30    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
31    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
32    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
33    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
34    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
35    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
36    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
37    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
38    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
39    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
40    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
41    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
42    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
43    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
44    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
45    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
46    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
47    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
48    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
49    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
Name: Title, dtype: object>

#### Which anime has the highest episodes count

#### Which is the largest running anime